
# Fresh Grad Job Ads in Penang



Author: Subi

Date: 4/26


Purpose: To Find the Latest Situation of Job Market for Fresh Grad in Penang


Methodology: Selenium, BeautifulSoup, Pandas, Matplotlib


Findings: Most job category are from Customer Service and Sales-Financial Services, most industry are from Banking/Finance and Manufacturing/Production, Most company are willing to offer 1.8k as a minimum starting salary and 3.5k as max starting salary


Recommendation/Conclusion: can get lots of data if use click button and populate the df to get more insight, can check relationship between each variable such as the relationship between industry and job category. Can include more variable if can get company size to cross check with the salary they willing to offer.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

browser = webdriver.Chrome('./bin/chromedriver')

#url login page
browser.get('https://myjobstreet.jobstreet.com.my/home/login.php?site=my&language_code=3&go=JOB-ADS&nrfr=1')

#inspect element on login page to to find id/username
user = browser.find_element_by_id('login_id')
user.send_keys('###########@yahoo.com')

#same for pw
pw = browser.find_element_by_id('password')
pw.send_keys('#########')

#send user name &keys
pw.send_keys(Keys.RETURN)

#get intended webpage
browser.get('https://www.jobstreet.com.my/en/job-search/campus/job-vacancy.php?area=1&option=1&location=50700&job-type=1%7C2%7C4%7C8%7C32&job-source=1%2C64&classified=1&job-posted=0&src=45&pg=1&sort=1&order=0&srcr=12&vtype=list')

#get page source
code = browser.page_source

In [2]:
#now can proceed using soup as usual
from bs4 import BeautifulSoup
soup = BeautifulSoup(code,'html.parser')

In [7]:
#inspect element find class which contain data 
soup_list = soup.findAll(class_ = 'rRow')
soup_list[0] #test first entry

<tr class="rRow"><td class="colTitle"><div><h2 class="rRowTitle"><a href="https://www.jobstreet.com.my/en/job/content-review-analyst-thai-4297567?fr=J&amp;src=45&amp;srcr=12" target="_blank" title="View Job Details - Content Review Analyst - Thai ผู้วิเคราะห์คอนเทนต์ - Teleperformance Malaysia เป็นหนึ่งในผู้นำด้านการให้บริการศูนย์แก้ไขปัญหาทางธุรกิจ ของบริษัทลูกค้าที่เราเรียกว่า Client บริษัทของเรามี client หลากหลายเจ้าที่เป็นผู้นำในด้านต่างๆ เช่น...">Content Review Analyst - Thai ผู้วิเคราะห์คอนเทนต์</a></h2></div><div class="smalldesc"><a href="https://www.jobstreet.com.my/en/job-search/campus/customer-service-jobs/" title="Customer Service jobs in Malaysia">Customer Service</a></div></td><td class="colComp"><div><h3><a class="rRowCompanyClick" href="https://www.jobstreet.com.my/en/job-search/campus/jobs-at-teleperformance-malaysia-sdn-bhd/" title="View Other Jobs Posted by Teleperformance Malaysia Sdn Bhd">Teleperformance Malaysia Sdn Bhd</a></h3><div class="smalldesc">Industry: <a href="https://www.jobstreet.com.my/en/job-search/campus/call-center-bpo-jobs/" title="Call Center / BPO Fresh Graduate Jobs in Malaysia">Call Center / BPO</a></div></div></td><td class="colLoc"><div>Penang</div></td><td class="colSal"><div> <font class="underExpectedSalary">MYR 3,500 - 4,300</font><br/>
</div></td><td class="colYoe"> </td><td class="colDate">25 Apr<div class="smalldescBlack">12:00 am</div></td></tr>

In [124]:
#keep testing first entry

# print(soup_list[1].find(class_='colTitle').get_text())
# print(soup_list[0].find(class_='colComp').get_text())
# print(soup_list[0].find(class_='colSal').get_text())
# print(soup_list[0].find(class_='smalldesc').get_text())


#company list to extract industry info
Company1 = [soup_list.find(class_='colComp') for soup_list in soup_list]

In [314]:
#choosen list of atributes

Job_Title = [soup_list.find(class_='rRowTitle').get_text() for soup_list in soup_list]
Company = [soup_list.find('h3').get_text() for soup_list in soup_list]
Job_Category = [soup_list.find(class_='smalldesc').get_text() for soup_list in soup_list]
Industry = [Company1[items].find("div", attrs={"class":"smalldesc"}).text.replace('Industry:','') for items in range(len(Company1))]
Salary = [soup_list.find(class_='colSal').get_text().replace('\n','').replace('MYR','').replace(',','') for soup_list in soup_list]

In [315]:
#create pandas df

import pandas as pd

Jobstreet = pd.DataFrame({
    'Job_Title':Job_Title,
    'Company':Company,
    'Job_Category':Job_Category,
    'Industry': Industry,
    'Salary':Salary,  
    
})

In [316]:
#assign to different variable
df = Jobstreet
df

,Job_Title,Company,Job_Category,Industry,Salary
0,Content Review Analyst - Thai ผู้วิเคราะห์คอนเ...,Teleperformance Malaysia Sdn Bhd,Customer Service,Call Center / BPO,3500 - 4300
1,Telephone sales / 电话销售员 / Nhân viên bán hàng q...,MG SOLAR Pty Ltd,Telesales/Telemarketing,Call Center / BPO,1500 - 2300
2,PROGRAM MANAGEMENT EXECUTIVE,Amphenol TCS (Malaysia) Sdn Bhd,Marketing/Business Dev,Manufacturing / Production,Below Expected Salary
3,Personal Banker(Banca)-Top Bank - High Basic H...,Agensi Pekerjaan BGC Group (Malaysia) Sdn Bhd,Sales - Financial Services,Banking / Finance,2500 - 5000
4,Registered Nurse,Cherish Postnatal Retreat & Breastfeeding Center,Nurse/Medical Support > Nurse,Hotel / Hospitality,1800 - 2200
5,Legal Assistant,Ibrahim & Kim,Law/Legal Services > Lawyer,Accounting / Tax Services,Below Expected Salary
6,Personal Banker (Wealth) -Top Bank-High Basic ...,Agensi Pekerjaan BGC Group (Malaysia) Sdn Bhd,Sales - Financial Services,Banking / Finance,4000 - 8000
7,Lab Equipment Coordinator,Agensi Pekerjaan NCS Solutions Sdn. Bhd.,Clerical/Administrative,HR Mgmt / Consulting,1600 - 2000
8,Failure Analysis Engineer / Technician (Penang),Agensi Pekerjaan NCS Solutions Sdn. Bhd.,Electronics Engineering > Electronics Engineer,HR Mgmt / Consulting,1800 - 3000
9,Video / Voice Interpreter Cantonese - English ...,Teleperformance Malaysia Sdn Bhd,Customer Service,Call Center / BPO,3000 - 6000
10,ANIMATION & UI DESIGNER,Mula Car International Sdn Bhd,Arts/Creative Design > Animator,Transportation / Logistics,2800 - 3500
11,HR Administrator,AGCO GSI (Malaysia) Sdn Bhd,Human Resources,Manufacturing / Production,Below Expected Salary
12,"Executive, Business Support",AIA Bhd.,Customer Service,Insurance,1800 - 3000
13,Real Estate Negotiator | Property Consultant,Astar Talent Services,Property/Real Estate > Property Sales,Exhibitions / Event Mgmt,10000 - 20000
14,Feed Technical Service Executive (Veterinarian),JBFM Flour Mill Sdn Bhd,Doctor/Diagnosis,Manufacturing / Production,3000 - 3500
15,Secretariat Executive,JBFM Flour Mill Sdn Bhd,Clerical/Administrative,Manufacturing / Production,2000 - 3500
16,Area Sales Consultant,Motormodz Sdn Bhd,Digital Marketing > Business Development,Advertising / Marketing / PR,2500 - 3500
17,"Nurses (Based in Singapore, SGD 2,500 & Above-...",Capita Penang,Nurse/Medical Support > Nurse,,
18,Wealth Management Associate Programme (Sales) ...,RHB Banking Group,Banking/Financial > Financial Planning/Wealth ...,Banking / Finance,2800 - 3600
19,Insurance Specialist,Agensi Pekerjaan CareerMaster Sdn Bhd,Sales - Financial Services,Banking / Finance,1700 - 3000

In [317]:
#clean data lol


df['Min_Salary'], df['Max_Salary'] = df['Salary'].str.split('-', 1).str #since we have range, split column salary by '-' to min max
df = df.drop(['Salary'], 1) #drop Salary
df = df.replace(r'^\s*$', np.nan, regex=True) # replace blank space with nan
df = df.replace(r'Below Expected Salary', np.nan, regex=True) # replace 'Below Expected Salary ' with nan

In [318]:
#change salary column to integer


df.loc[df['Max_Salary'].notnull(), 'Max_Salary'] = df.loc[df['Max_Salary'].notnull(), 'Max_Salary'].apply(int)
df.loc[df['Min_Salary'].notnull(), 'Min_Salary'] = df.loc[df['Min_Salary'].notnull(), 'Min_Salary'].apply(int)

In [319]:
#have a peak, save to csv

df
df.to_csv('Jobstreet.csv')

In [321]:
#Check unique obs of each column

print(df.Job_Title.nunique())
print(df.Company.nunique())
print(df.Job_Category.nunique())
print(df.Industry.nunique())

20
16
14
10

In [322]:
#check top frequency if any
df.describe(include = "all")

,Job_Title,Company,Job_Category,Industry,Min_Salary,Max_Salary
count,20,20,20,19,16,16
unique,20,16,14,10,11,11
top,Personal Banker(Banca)-Top Bank - High Basic H...,JBFM Flour Mill Sdn Bhd,Customer Service,Banking / Finance,1800,3500
freq,1,2,3,4,3,4

In [323]:
import matplotlib

#put value count into df to visualize

val = df['Job_Category'].value_counts()

Count_Category = pd.DataFrame(val).reset_index()
Count_Category.columns = ['Job Category', 'Counts'] 
Count_Category.style.background_gradient(cmap='Greens')

In [324]:


ind = df['Industry'].value_counts()

Count_Industry = pd.DataFrame(ind).reset_index()
Count_Industry.columns = ['Industry', 'Counts'] 
Count_Industry.style.background_gradient(cmap='Blues')

In [325]:
min_s = df['Min_Salary'].value_counts()

Count_Min = pd.DataFrame(min_s).reset_index()
Count_Min.columns = ['Minimum Salary', 'Counts'] 
Count_Min.style.background_gradient(cmap='RdPu')

In [326]:
max_s = df['Max_Salary'].value_counts()

Count_Max = pd.DataFrame(max_s).reset_index()
Count_Max.columns = ['Maximum Salary', 'Counts'] 
Count_Max.style.background_gradient(cmap='GnBu')

# Summary

### From this data, what can we see is that the job category with the highest count goes to customer service and sales. Most occuring Industry Banking/Finance and Manufacturing/Production. Across company, the minimum salary that most can offer is rm1800 and the maximum salary that most can offer is rm3500.